/* Basic reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Default document styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #171717;
}
